*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;

}
.container{
    width: 100vw;
    height: 100vh;
    background-image: url('bg.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    width:90%;
    max-width: 164px;
    text-align: center;
    padding: 8px 5px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px); 
}
img{
    align-items: center;
    justify-content: center;
    width:150px;
    height:150px;
}
#navbar{
    display:flex;
    align-items: center;
}
#navbar{
    position:relative;
}
#navbar ul{
    display: flex;
}
#navbar::before{
    content:"";
    background-color: black;
    position: absolute;
    height:100%;
    width:100%;
    z-index: -1;
}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    color:white;
    display:block;
    padding:3px 22px;
    border: radius 20px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color:black;
    background-color: aqua;
   
}